<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/images/logo.png">
    <title>Crazy Predictor</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-light_blue.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header portfolio-header">
            <div class="mdl-layout__header-row portfolio-logo-row">
                <div class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                    <span class="mdl-layout__title">Crazy Predictor</span>
                </div>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                @if (User.Identity.IsAuthenticated) {
                    <a class="mdl-navigation__link" href="/Prediction/Predict">Predict</a>
                    <a class="mdl-navigation__link" href="/Prediction/Result">Prediction Result</a>
                    <a class="mdl-navigation__link" href="/Prediction/Table">Table</a>
                    <button id="menu" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">menu</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" data-mdl-for="menu">
                        <li class="mdl-menu__item" onclick="window.location='/Home/Rules';">Rules</li>
                        <li class="mdl-menu__item" onclick="logout()">Log out</li>
                    </ul>
                }
                </nav>
            </div>
        </header>
        
        @if (User.Identity.IsAuthenticated) {
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="/Prediction/Predict">Predict</a>
                <a class="mdl-navigation__link" href="/Prediction/Result">Prediction Result</a>
                <a class="mdl-navigation__link" href="/Prediction/Table">Table</a>
                <a class="mdl-navigation__link" href="/Home/Rules">Rules</a>
                <a class="mdl-navigation__link" href="#" onclick="logout()">Logout</a>
            </nav>
        </div>
        }
        <main class="mdl-layout__content">
            @RenderBody()
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab return-to-top">
                <i class="material-icons"><strong>^</strong></i>
            </button>
        </main>
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/react")
    @Scripts.Render("~/bundles/plugin")
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

    <script>
        const DATE_FORMAT = 'D MMMM YYYY';
        const DATETIME_FORMAT = 'D MMMM YYYY - HH:mm';

        $(function () {
            $.each($('.mdl-navigation__link'), function () {
                $(this).toggleClass('is-active', window.location.pathname.indexOf($(this).attr('href')) == 0);
            });

            $('.mdl-layout__content').scroll(function () {
                if ($(this).scrollTop() >= 50) {
                    $('.return-to-top').fadeIn(200);
                } else {
                    $('.return-to-top').fadeOut(200);
                }
            });

            $('.return-to-top').click(function () {
                $('.mdl-layout__content').animate({
                    scrollTop: 0
                }, 500);
            });
        });

        $.ajaxSetup({
            type: "POST",
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var message;
                var errorResponse;

                try {
                    errorResponse = jQuery.parseJSON(XMLHttpRequest.responseText);
                } catch (err) {
                    if (XMLHttpRequest.statusText != null && XMLHttpRequest.statusText != '')
                        errorResponse = { MessageDetail: XMLHttpRequest.statusText };
                }

                if (errorResponse.MessageDetail != null)
                    message = errorResponse.MessageDetail;
                else if (errorResponse.error_message != null)
                    message = errorResponse.error_message;
                else if (errorResponse.ExceptionMessage != null)
                    message = errorResponse.ExceptionMessage;
                else if (errorResponse.Message != null)
                    message = errorResponse.Message;
                else if (errorResponse.message != null)
                    message = errorResponse.message;
                else
                    message = "can not find error message, please contact developer";

                //if (errorResponse.url == null) {
                //    ShowErrorModal(message);
                //} else {
                //    ShowErrorModal(message, function () {
                //        window.location = errorResponse.url;
                //    });
                //}
                noty({ text: message, type: 'error', theme: 'relax', killer: true });
            }
        });

        function logout() {
            $.ajax({
                type: 'POST',
                datatype: 'json',
                url: '@Url.Action("Logout", "Home")',
                success: function (data) {
                    window.location = '@Url.Action("Index", "Home")';
                }
            });
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
